*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 62.5%;
}

@font-face {
  font-family: "FiraGO";
  font-style: normal;
  font-weight: 300;
  src: url("../../fonts/FiraGO-Light.otf") format("opentype");
}
@font-face {
  font-family: "FiraGO";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/FiraGO-Regular.otf") format("opentype");
}
@font-face {
  font-family: "FiraGO";
  font-style: normal;
  font-weight: 500;
  src: url("../../fonts/FiraGO-Medium.otf") format("opentype");
}
@font-face {
  font-family: "FiraGO";
  font-style: normal;
  font-weight: 600;
  src: url("../../fonts/FiraGO-SemiBold.otf") format("opentype");
}
@font-face {
  font-family: "FiraGO";
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/FiraGO-Bold.otf") format("opentype");
}
.active {
  display: inline-block !important;
}

body {
  font-family: "FiraGO", sans-serif;
  font-weight: 400;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 3rem 12rem;
}
header .left-side {
  display: flex;
  gap: 4rem;
}
header .left-side-btn {
  padding: 1rem 2rem;
  font-size: 1.6rem;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}
header .left-side-btn:hover {
  transform: translateY(-1px);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}
header .left-side .employee {
  border: 1px solid #8338ec;
  background-color: #fff;
  color: #212529;
}
header .left-side .employee:hover {
  border: 1px solid #b588f4;
}
header .left-side .task {
  border: none;
  background-color: #8338ec;
  color: #fff;
}
header .left-side .task:hover {
  background-color: #b588f4;
}

main {
  margin: 4rem 12rem;
}
main .main-title {
  font-size: 3.4rem;
  font-weight: 600;
}
main .filtration {
  margin: 5.2rem 0;
  display: flex;
  gap: 4.5rem;
  border: 1px solid #dee2e6;
  width: -moz-fit-content;
  width: fit-content;
}
main .filtration-el {
  position: relative;
}
main .filtration-el-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1.25rem 1.8rem;
  color: #212529;
  background-color: #fff;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
main .filtration-el-btn:hover .filtration-el-btn-text {
  color: #8338ec !important;
}
main .filtration-el-btn:hover img {
  filter: invert(20%) sepia(90%) saturate(5000%) hue-rotate(270deg) brightness(80%) contrast(90%);
}
main .filtration-el-btn-text {
  font-size: 1.6rem;
  font-weight: 400;
  color: #212529;
}
main .filtration-el-btn img {
  display: none;
  width: 2.4rem;
  height: 2.4rem;
  margin-left: 0.8rem;
  transition: all 0.3s ease;
}
main .filtration-el-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 1.1rem;
  padding: 4rem 1rem 2.5rem 3rem;
  border: 0.5px solid #8338ec;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  z-index: 10;
}
main .filtration-el-dropdown-options {
  max-height: 17.4rem;
  width: -moz-max-content;
  width: max-content;
  overflow-y: auto;
  margin-bottom: 2.5rem;
  padding-right: 38.5rem;
}
main .filtration-el-dropdown-options-el {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 2.2rem;
  align-items: center;
}
main .filtration-el-dropdown-options-el svg {
  flex-shrink: 0;
  display: none;
}
main .filtration-el-dropdown-options-el-text {
  color: #212529;
  font-size: 1.6rem;
  flex-shrink: 0;
}
main .filtration-el-dropdown-options-el-img {
  width: 2.8rem;
  height: 2.8rem;
  margin-right: -1.05rem;
  border-radius: 50%;
}
main .filtration-el-dropdown-btnBox {
  display: flex;
  justify-content: end;
  margin-right: 2rem;
}
main .filtration-el-dropdown-btnBox-btn {
  background-color: #8338ec;
  color: #fff;
  padding: 0.8rem 4.95rem;
  font-size: 1.6rem;
  border-radius: 20px;
  border: none;
}
main .filtration-el-dropdown-btnBox-btn:hover {
  background-color: #b588f4;
}
main .tasks {
  display: flex;
  justify-content: space-around;
  gap: 5.2rem;
}
main .tasks .starter .tasks-el-boxTitle {
  background-color: #F7BC30;
}
main .tasks .starter .tasks-el-box-card {
  border: 1px #F7BC30 solid;
  border-radius: 15px;
}
main .tasks .inProgress .tasks-el-boxTitle {
  background-color: #FB5607;
}
main .tasks .inProgress .tasks-el-box-card {
  border: 1px #FB5607 solid;
  border-radius: 15px;
}
main .tasks .testing .tasks-el-boxTitle {
  background-color: #FF006E;
}
main .tasks .testing .tasks-el-box-card {
  border: 1px #FF006E solid;
  border-radius: 15px;
}
main .tasks .finished .tasks-el-boxTitle {
  background-color: #3A86FF;
}
main .tasks .finished .tasks-el-box-card {
  border: 1px #3A86FF solid;
  border-radius: 15px;
}
main .tasks-el {
  width: 38.1rem;
}
main .tasks-el-boxTitle {
  padding: 1.595rem 0;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 3rem;
}
main .tasks-el-boxTitle-title {
  font-size: 2rem;
  font-weight: 500;
  color: #fff;
}
main .tasks-el-box {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
main .tasks-el-box-card {
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
  border-radius: 15px;
  padding: 2rem;
  height: 24.1rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  color: #343A40;
}
main .tasks-el-box-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
}
main .tasks-el-box-card-header-tags {
  display: flex;
  align-items: center;
  gap: 1rem;
}
main .tasks-el-box-card-header-tags-priority {
  display: flex;
  align-items: center;
  border: 0.5px #343A40 solid;
  width: 8.6rem;
  height: 2.6rem;
  border-radius: 5px;
  font-weight: 500;
}
main .tasks-el-box-card-header-tags-priority img {
  width: 2.4rem;
  height: 2.4rem;
  padding: 0.4rem;
}
main .tasks-el-box-card-header-tags-department {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  color: #fff;
  padding: 0 0.5rem;
  min-width: 7rem;
  max-width: 9rem;
  height: 2.4rem;
}
main .tasks-el-box-text {
  margin: 0 1.05rem;
}
main .tasks-el-box-text-title {
  font-size: 1.5em;
  font-weight: 500;
  margin-bottom: 1.2rem;
}
main .tasks-el-box-text-description {
  font-size: 1.4rem;
  line-height: 1.2;
}
main .tasks-el-box-info {
  justify-self: end;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}
main .tasks-el-box-info img {
  width: 3.1rem;
  height: 3.1rem;
  border-radius: 50%;
}
main .tasks-el-box-info-comments {
  display: flex;
  align-items: center;
  gap: 0.074rem;
}
main .tasks-el-box-info-comments img {
  width: 2.2rem;
  height: 2.2rem;
}
main .tasks-el-box-info-comments p {
  font-size: 1.4rem;
}/*# sourceMappingURL=global.css.map */