.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(13, 15, 16, 0.15);
  z-index: 1000;

  .modal {
    position: relative;
    margin: auto !important;
    margin-top: 11.8rem !important;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 91.5rem;
    padding: 11.7rem 5rem 6rem 5rem;
    border: none;
    z-index: 1001;

    #cancelBtn {
      position: absolute;
      right: 50px;
      top: 40px;
      cursor: pointer;
    }

    &-header {
      text-align: center;
      margin-bottom: 4.5rem;

      &-title {
        font-size: 3.2rem;
        font-weight: 500;
      }
    }

    &-form {
      display: flex;
      flex-direction: column;
      gap: 4.5rem;

      &-row {
        display: flex;
        justify-content: space-between;
        gap: 4.5rem;

        &-col {
          display: flex;
          flex-direction: column;
          flex: 1;

          &-lable {
            font-size: 1.4rem;
            font-weight: 500;
          }

          &-input {
            padding: 1.4rem 1rem;
            border: 1px solid #d1d5db;
            border-radius: 6px;
            margin: 0.3rem 0;
          }

          &-imgBoX {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border: 1px dashed #d1d5db;
            border-radius: 8px;
            height: 12rem;
            margin-top: 0.8rem;

            &-upload {
              display: none;
              flex-direction: column;
              align-items: center;
              cursor: pointer;

              &-text {
                font-weight: 400;
              }
            }

            &-avatar {
              display: none;
              position: relative;

              &-img {
                width: 8.8rem;
                height: 8.8rem;
                border-radius: 50%;
              }

              &-delete {
                position: absolute;
                right: -10px;
                bottom: -5px;
                padding: 1rem;
                background-color: #fff;
                border: 0.3px solid #6c757d;
                border-radius: 50%;
                cursor: pointer;
              }
            }
          }

          &-btn {
            border: none;
            background-color: none;
            padding: 1.6rem 1.15rem;
            border-radius: 5px;
            font-size: 1.6rem;
            cursor: pointer;
          }
        }
      }

      .btn-box {
        display: flex;
        justify-content: end;
        gap: 2.2rem;

        #cancel {
          background-color: #fff;
          border: 1px solid $accentColor;
          transition: all 0.3s;

          &:hover {
            border: 1px solid $accentColorHover;
          }
        }

        #addEmployee {
          background-color: $accentColor;
          color: #fff;
          transition: all 0.3s;

          &:hover {
            background-color: $accentColorHover;
          }
        }
      }

      #departmentBox {
        display: flex;
        flex-direction: column;
        gap: 0.3rem;

        #department {
          justify-self: start;
        }

        select.modal-form-row-col-input {
          width: 50%;
          appearance: none;
          background-image: url("../../images/icons/arrow-down.svg");
          background-repeat: no-repeat;
          background-position: right 1rem center;
          background-size: 1.5em;
          padding-right: 3.5rem !important;
          cursor: pointer;
        }

        .dropdown::after {
          display: none;
        }
      }
    }
  }
}
