// Colors
$accentColor: #8338ec;
$accentColorHover: #b588f4;
$textColor: #343A40;
$subheading: #212529;
$borderColor: #dee2e6;
$inputColor: #CED4DA;
$mainYellow: #F7BC30;
$secondaryYellow: #FFD86D;
$mainOrange: #FB5607;
$mainPink: #FF006E;
$mainBlue: #3A86FF;
$mainRed: #FA4D4D;
$mainGreen: #08A508;

// fonts
@font-face {
  font-family: "FiraGO";
  font-style: normal;
  font-weight: 300;
  src: url("../../fonts/FiraGO-Light.otf") format("opentype");
}

@font-face {
  font-family: "FiraGO";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/FiraGO-Regular.otf") format("opentype");
}

@font-face {
  font-family: "FiraGO";
  font-style: normal;
  font-weight: 500;
  src: url("../../fonts/FiraGO-Medium.otf") format("opentype");
}

@font-face {
  font-family: "FiraGO";
  font-style: normal;
  font-weight: 600;
  src: url("../../fonts/FiraGO-SemiBold.otf") format("opentype");
}

@font-face {
  font-family: "FiraGO";
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/FiraGO-Bold.otf") format("opentype");
}

// Helper classes
.active {
  display: inline-block !important;
}

.active-flex {
  display: flex !important;
}
