// Colors
$accentColor: #8338ec;
$accentColorHover: #b588f4;
$accentColorLight: #ddd2ff;
$textColor: #343a40;
$subheading: #212529;
$borderColor: #dee2e6;
$inputColor: #ced4da;
$mainYellow: #f7bc30;
$secondaryYellow: #ffd86d;
$mainOrange: #fb5607;
$mainPink: #ff006e;
$mainBlue: #3a86ff;
$mainRed: #fa4d4d;
$mainGreen: #08a508;
$disabled: #adb5bd;

// fonts
@font-face {
  font-family: "FiraGO";
  font-style: normal;
  font-weight: 300;
  src: url("../../fonts/FiraGO-Light.otf") format("opentype");
}

@font-face {
  font-family: "FiraGO";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/FiraGO-Regular.otf") format("opentype");
}

@font-face {
  font-family: "FiraGO";
  font-style: normal;
  font-weight: 500;
  src: url("../../fonts/FiraGO-Medium.otf") format("opentype");
}

@font-face {
  font-family: "FiraGO";
  font-style: normal;
  font-weight: 600;
  src: url("../../fonts/FiraGO-SemiBold.otf") format("opentype");
}

@font-face {
  font-family: "FiraGO";
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/FiraGO-Bold.otf") format("opentype");
}

// Helper classes
.active {
  display: inline-block !important;
}

.active-flex {
  display: flex !important;
}

.disabled {
  color: $disabled !important;
}

// Mixins
@mixin main-title {
  font-size: 3.4rem;
  font-weight: 600;
}
